
beautifulsoup4==4.12.2
chardet==5.2.0
chroma-hnswlib==0.7.3
chromadb==0.4.18
duckduckgo_search==4.1.1
EbookLib==0.18
fitz==0.0.1.dev2
gradio==4.1.2
gradio_client==0.7.0
jsonpointer==2.1
jsonschema==4.19.2
jsonschema-specifications==2023.7.1

matplotlib==3.8.1
mpld3==0.5.9
nltk==3.8.1
numpy==1.26.3
orjson==3.9.10
pandas==2.1.2
pathlib==1.0.1
Pillow==10.1.0
plotly==5.18.0
regex==2023.10.3
requests-oauthlib==1.3.1

scikit-learn==1.3.2
scipy==1.11.3

sentence-transformers==2.2.2
sentencepiece==0.1.99
simplejson==3.19.2
tiktoken==0.5.2


# Install llama-cpp-python manually with the following command (Cublas, windows, cuda117), for other config consult llama-cpp-python repo :
# python -m pip install llama-cpp-python --force-reinstall --no-deps --index-url https://jllllll.github.io/llama-cpp-python-cuBLAS-wheels/AVX2/cu117



